@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@400;500;600;700;800&display=swap");
/* https://www.cdnfonts.com/zacbel-x.font */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

mark {
  color: inherit;
  background: transparent;
  box-shadow: inset 0px -10rem 0px 0rem #e91d63;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  color: white;
}
